// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,body {
  height: 100%;
}


/* 导航 */
.navbar-header {
  margin-bottom: 20px;
}

/* 搜索 */
#searchs {
  input {
    float: left;
    width: 80%;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  button {
    float: left;
    width: 19%;
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

#categorys {
  margin: 20px 0;
}
/* 文章列表 */
.articles-section {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 15px;
  
  .section-title {
    color: #212529;
    &:hover {
      color: #337ab7;
      text-decoration: none;
    }
  }

  .articles-footer {
    > span {
      font-size: 90%;
    }
  }
}

#tags {
  button {
    margin-right: 30px;
  }
}

/* 后台管理 */

/** 登录界面 **/
.login-form {
  margin-top: 200px;
  .login-form-title {
    text-align: center;
  }
}

/** 首页 **/
#nav_menu {
  justify-content: space-between;
  #navbarNavDropdown {
    flex-grow: 0;
  }

  #user_dropdown_menu {
    margin-top: 8px;
  }
}

#body {
  height: 100%;
}

#menu {
  position: relative;
  width: 280px;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
  .list-group {
    display: block;
    border-radius: 0;
    height: 100%;
    & > a {
      border-left: none;
      border-right: none;
    }
  }
}

